---
import FilledLayout from "@/layouts/FilledLayout.astro";
import { ProfileDataWidget } from "@/islands/react/widgets/ProfileData/ui/ProfileDataWidget";
import { ActiveApisWidget } from "@/islands/react/widgets/ActiveApis";
import { ProtectedComponent } from "@/react/shared/ProtectedComponent";
---

<FilledLayout title="Profile">
  <ProtectedComponent client:load>
    <h1 class="title">Profile</h1>
    <div class="info-box appear-effect">
      <ProfileDataWidget client:load />
    </div>
    <div class="info-box">
      <h3>Active APIs</h3>
      <ActiveApisWidget client:load />
    </div>
  </ProtectedComponent>
</FilledLayout>

<style>
  .title {
    margin-top: 2rem;
  }

  .info-box {
    background-color: #eeeded;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  .data-box {
    display: flex;
    gap: 1rem;
  }

  .image-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .raw-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .raw-data-box {
    display: flex;
    gap: 0.5rem;
  }
</style>
