.icon {
  transition: all 0.22s;
  height: 100%;
  cursor: pointer;
  &Selected {
    transform: rotate(90deg);
  }
}

.hide {
  opacity: 0;
  transition: all 0.22s;
}

.topContainer {
  display: flex;
  align-items: center;

  & * {
    height: 1rem;
  }

  &:hover .hide {
    opacity: 1;
  }
}

.leftIconsGroup,
.rightIconsGroup {
  display: flex;
  gap: 0.2rem;
}

.rightIconsGroup {
  margin-left: 0.5rem;
}
