.rightBarContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(240px, 300px, 500px);
  border-radius: 4px 0 0 4px;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  & * {
    font-weight: 500;
  }
}

.configuringObjectsBox {
  display: flex;
  flex-direction: column;
  & * {
    font-weight: 300;
    font-size: calc(1rem * 3 / 4);
  }
}
